@model IEnumerable<BookStoreOnline.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" align="center" style="font-size:50px;font-family:'%239Slide02 Tieu de dai'; color:deeppink;">Danh sách đơn hàng</div>


<table class="table table-bordered table-primary table-hover" style="text-align:center">
    <tr>
        <th>Khách hàng</th>
        <th>Ngày đặt</th>
        <th>Địa chỉ giao hàng</th>
        <th>Trạng thái đơn hàng</th>
        <th>Chi Tiết</th>   
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Customer.NameCustomer</td>
            <td>@String.Format("{0:dd/MM/yyyy}", item.DateOrder)</td>
            <td>@item.Address</td>
            @if (item.Status == 0)
            {
                <td style="color:red">Chưa xác nhận</td>
            }
            else
            {
                <td style="color:forestgreen">Đã xác nhận</td>

            }
            <td><a href="@Url.Action("Details/"+item.IDOrder,"OrderAdmin")" class="btn btn-danger">Xem chi tiết</a></td>
        </tr>
    }


</table>

