
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-page">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 login-box">
            <h3 style="color: gray ;">Đăng nhập</h3>
            @using (Html.BeginForm("Login", "User"))
            {
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập địa chỉ email của bạn">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mật khẩu</label>
                    <input type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu đăng nhập">
                    <span style="color:red">@ViewBag.ThongBao</span>
                </div>
                <button type="submit" class="btn-login">Đăng nhập</button>
            }
            <div class="sign-up-link">
                Bạn chưa có tài khoản ? <a href="@Url.Action("SignUp","User")">Đăng ký ngay</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

